<template>
    <div>
        <index-header></index-header>
        <banner></banner>

        <section class="section section-lg pt-lg-0 mt-3">
            <div class="container">
                <div class="row mt-5">
                    <p class="caption">Lịch sử giao dịch</p>
                    <div class="card">
                        <div class="card-content">
                            <q-table
                                    :data="listHistory"
                                    columnPicker="true"
                                    :visible-columns="visibleColumns"
                                    :columns="columns"
                                    :filter="filter"
                                    :pagination.sync="serverPagination"
                                    @request="request"
                                    :loading="loading"
                                    row-key="id">
                                <template slot="top" >
                                    <div class="col-xs-3 ffse"  >
                                        <q-datetime v-model="dataSearch.from" float-label="Từ ngày"  type="date" @keyup.enter="doSearch" @input="doSearch"/>
                                    </div>
                                    <div class="col-xs-3 ffse"  >
                                        <q-datetime v-model="dataSearch.to" float-label="Đến ngày"  type="date" @keyup.enter="doSearch" @input="doSearch"/>
                                    </div>
                                    <div class="col-xs-3 ffse"  >
                                        <q-select float-label="Loại giao dịch" class="pdse" v-model="dataSearch.type" :options="listTypeTransaction"  @input="doSearch"/>
                                    </div>
                                </template>
                                <q-tr slot="body" slot-scope="props" :props="props">
                                    <q-td key="#" :props="props">
                                        {{props.row.__index + 1 + (serverPagination.page -1) * serverPagination.rowsPerPage}}
                                    </q-td>
                                    <q-td key="title" :props="props">{{props.row.title}}</q-td>
                                    <q-td key="created_at" :props="props">{{props.row.created_at}}</q-td>
                                    <q-td key="type" :props="props">{{props.row.type}}</q-td>
                                    <q-td key="point" :props="props">{{props.row.point}}</q-td>
                                </q-tr>
                                <div slot="pagination" slot-scope="props" class="row" style="margin: 0;">
                                    <q-table-columns
                                            color="secondary"
                                            class="q-mr-sm"
                                            v-model="visibleColumns"
                                            :columns="columns"
                                    />
                                    <q-btn
                                            round dense size="sm" icon="undo" color="secondary" class="q-mr-sm"
                                            :disable="props.isFirstPage"
                                            @click="props.prevPage"
                                    />
                                    <div class="q-mr-sm" style="font-size: small">Page {{ props.pagination.page }} / {{ props.pagesNumber }}</div>
                                    <q-btn
                                            round dense size="sm" icon="redo" color="secondary"
                                            :disable="props.isLastPage"
                                            @click="props.nextPage"
                                    />
                                </div>
                            </q-table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <index-footer></index-footer>
    </div>
</template>

<script>
    import IndexHeader from "../../components/layout-web/IndexHeader";
    import IndexFooter from "../../components/layout-web/IndexFooter";
    import Banner from "../../components/layout-web/Banner";
    import u from './../../lib/utilities/utility'
    import _ from 'lodash';
    import common from "../../lib/utilities/mixin";

    function convertDataSearh(dataSearch){
        let result ='';
        if(_.isNumber(dataSearch.type)){
            result+="&type="+dataSearch.type;
        }
        if(!_.isEmpty(dataSearch.from)){
            result+="&created_at_gte="+common.methods.parseDateToString(dataSearch.from);
        }

        if(!_.isEmpty(dataSearch.to)){
            result+="&created_at_lte="+common.methods.parseDateToString(dataSearch.to);
        }

        return result;
    }

    export default {
        name: 'profile-web',
        components: {
            IndexHeader, IndexFooter, Banner,
        },
        data() {
            return {
                dataSearch : {},
                listHistory: [],
                serverPagination: {
                    page: 1,
                    rowsNumber: '',
                    rowsPerPage: 10
                },
                loading: false,
                filter: '',
                columns: [
                    {
                        required: true,
                        label: "#",
                        name:'#',
                        field: 'id',
                        align: "center",
                        classes: "my-class",
                        style: "width: 100px;background: #40639;"
                    },
                    {
                        required: true,
                        label: "Sử dụng",
                        align: "center",
                        field: "title",
                        name:'title',
                        sortable: true,
                        classes: "my-class",
                        style: "width: 500px;background: #40639;"
                    },
                    {
                        required: true,
                        label: "Ngày, Giờ",
                        align: "center",
                        field: "created_at",
                        name:'created_at',
                        sortable: true,
                        classes: "my-class",
                        style: "width: 500px;background: #40639;"
                    },
                    {
                        required: true,
                        label: "Loại giao dịch",
                        align: "center",
                        field: "type",
                        name:'type',
                        sortable: true,
                        classes: "my-class",
                        style: "width: 500px;background: #40639;",
                        format (value) {
                            return common.methods.getTransactionLabel(value)
                        }
                    },
                    {
                        required: true,
                        label: "Điểm",
                        align: "center",
                        field: "point",
                        name:'point',
                        sortable: true,
                        classes: "my-class",
                        style: "width: 500px;background: #40639;"
                    }
                ],
                visibleColumns: ['title', 'id', 'created_at', 'type'],
            }
        },
        methods: {
            request (props) {
                this.loading = true;
                setTimeout(() => {
                    this.serverPagination = props.pagination;
                    var url = 'api/exchange/findByPartner?partner_code=BBQ&_sort=id:DESC&_limit='
                        + this.serverPagination.rowsPerPage + '&_start='
                        + (this.serverPagination.page - 1)*this.serverPagination.rowsPerPage;
                    url+= convertDataSearh(this.dataSearch);
                    u.g(url).then(res => {
                        this.listHistory = res.data
                    });
                    this.loading = false
                }, 1500)
            },
            doSearch :async function(){
                try{
                    this.loading = true;
                    let param='_start=0';
                    param+= convertDataSearh(this.dataSearch);
                    await u.g('api/exchange/countPartner?partner_code=BBQ&' + param).then(res => {
                        this.serverPagination.rowsNumber = res.data;
                    });
                    this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                    })
                } catch (error) {
                    this.loading = false;
                }
            }
        },
        mounted () {
            u.g('api/exchange/countPartner?partner_code=BBQ').then(res => {
                this.serverPagination.rowsNumber = res.data;
            });
            this.request({
                pagination: this.serverPagination,
            });
        }
    }
</script>

<style scoped>
    .nav-pills .nav-link.active{
        color: red !important;
        background-color: #fff !important;
    }
    .nav-pills .nav-link{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
</style>
