<template>
    <div>
        <index-header></index-header>
        <banner></banner>

        <section class="section section-lg pt-lg-0 mt-3">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <h4 class="col-6 text-left">Shop Bamboo</h4>
                    <base-button tag="a" href="#" type="primary" class="float-right" @click="show_cart = true">
                        Cart ({{carts.length}})
                    </base-button>

                    <base-button tag="a" href="/#/client-history-web" type="success" class="float-right">
                        Lịch sử giao dịch
                    </base-button>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row row-grid">
                            <div class="col-lg-3" v-for="(product,index) in products" :key="index">
                                <card class="border-0" hover shadow body-classes="py-5">
                                    <b-card-img :src="product.image">
                                    </b-card-img>
                                    <h6 style="height: 56px;overflow: hidden;" class="text-primary mt-4">{{product.title}}</h6>
                                    <div>
                                        <badge type="primary" style="font-size: 10px" rounded>new: {{currency(product.new_price)}}</badge>
                                        <badge type="warning" style="font-size: 10px" rounded>old: {{currency(product.old_price)}}</badge>
                                    </div>
                                    <base-button tag="a" @click="addToCart(product)" type="primary" class="mt-4">
                                        Add to cart.
                                    </base-button>
                                </card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <index-footer></index-footer>

        <q-modal v-model="show_cart" minimized :content-css="{minWidth: '30vw', maxWidth: '50vw'}">
            <div style="padding: 50px">
                <div class="row" v-for="(item,index) in carts" :key="index">
                    <div class="col-3">{{item.title}}</div>
                    <div class="col-3">{{currency(item.new_price)}} đ</div>
                    <div class="col-3">{{item.quantity}}</div>
                    <div class="col-3">{{currency(item.quantity*item.new_price)}}</div>
                </div>
                <div class="row">
                    <div class="col-9 text-left">Tổng</div>
                    <div class="col-3">{{currency(total)}}</div>
                </div>
                <div class="row mt-4 mb-4">
                    <q-input v-model="score" style="margin: 0!important;" class="full-width" float-label="Điểm số"></q-input>
                </div>
                <div class="row mt-4 mb-4">
                    <q-input v-model="code_user" style="margin: 0!important;" class="full-width" float-label="Mã khách hàng"></q-input>
                </div>
                <div class="row mt-4 mb-4">
                    <q-input v-model="partner_code" style="margin: 0!important;" class="full-width" float-label="Mã partner"></q-input>
                </div>
                <div class="row mt-4 mb-4">
                    <q-input v-model="code" style="margin: 0!important;" class="full-width" float-label="Mã code"></q-input>
                </div>
                <div class="row mt-4 mb-4">
                    <base-button tag="a" href="#" type="primary" @click="payment" class="float-right">
                        Thanh toán
                    </base-button>
                </div>
            </div>
        </q-modal>
    </div>
</template>

<script>
    import IndexHeader from "../../components/layout-web/IndexHeader";
    import IndexFooter from "../../components/layout-web/IndexFooter";
    import Banner from "../../components/layout-web/Banner";
    import u from './../../lib/utilities/utility'
    import BCardImg from "bootstrap-vue/es/components/card/card-img";

    import Argon from "./../../plugins/argon-kit";
    import Vue from 'vue'
    Vue.use(Argon);
    export default {
        name: 'profile-web',
        components: {
            IndexHeader, IndexFooter, Banner,
            BCardImg,
        },
        data(){
            return {
                products: [
                    {
                        "id": "1",
                        "title": "Sản phẩm A",
                        "image": "http://183.91.11.56:3005/images/slide/Bamboo_Slide_1.jpg",
                        "old_price": 200000,
                        "new_price": 150000,
                        "quantity": 0,
                    },
                    {
                        "id": "2",
                        "title": "Sản phẩm B",
                        "image": "http://183.91.11.56:3005/images/slide/Bamboo_Slide_1.jpg",
                        "old_price": 200000,
                        "new_price": 150000,
                        "quantity": 0,
                    },
                    {
                        "id": "3",
                        "title": "Sản phẩm C",
                        "image": "http://183.91.11.56:3005/images/slide/Bamboo_Slide_1.jpg",
                        "old_price": 200000,
                        "new_price": 150000,
                        "quantity": 0,
                    },
                    {
                        "id": "4",
                        "title": "Sản phẩm D",
                        "image": "http://183.91.11.56:3005/images/slide/Bamboo_Slide_1.jpg",
                        "old_price": 200000,
                        "new_price": 150000,
                        "quantity": 0,
                    },
                ],
                carts: [],
                show_cart: false,
                code: '',
                partner_code: '',
                total: 0,
                code_user: '',
                score: ''
            }
        },
        methods:{
            addToCart(item){
                this.total = 0;
                var index = -1;
                this.carts.forEach(x=>{
                    if(x.id == item.id){
                        x.quantity += 1
                        index = 1;
                    }
                })
                if(index == -1){
                    item.quantity = 1;
                    this.carts.push(item);
                }

                this.carts.forEach(x=>{
                    this.total += x.quantity*x.new_price
                })
            },
            payment(){
                let data_product = {
                    "total": this.total,
                    "data": this.carts,
                    "code": this.code,
                    "partner_code": this.partner_code,
                    "base_point": 30
                };
                u.p('api/order/product',data_product).then(() => {
                    this.show_cart = false;
                    this.$q.notify({
                        color: 'blue',
                        textColor: 'white',
                        icon: 'thumb_up',
                        message: 'Thanh toán thành công',
                        position: 'top-right',
                        timeout: 3000
                    });
                });

                let data_use = {
                    "amount": this.total,
                    "code": this.code_user,
                    "partner_code": this.partner_code,
                    "score": this.score
                };

                u.p('api/offer/user',data_use).then(res => {
                    console.log(res);
                });
            },
            currency(data){
                return u.currency(data, ' đ')
            }
        }
    }
</script>

<style scoped>
    .nav-pills .nav-link.active{
        color: red !important;
        background-color: #fff !important;
    }
    .nav-pills .nav-link{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
</style>
