// Color system

$white:     #fff !default;
$gray-base: #181b1e !default;
$gray-1:  #f0f3f5 !default; // lighten($gray-base, 85%);
$gray-2:  #e4e7ea !default; // lighten($gray-base, 80%);
$gray-3:  #c8ced3 !default; // lighten($gray-base, 70%);
$gray-4:  #acb4bc !default; // lighten($gray-base, 60%);
$gray-5:  #8f9ba6 !default; // lighten($gray-base, 50%);
$gray-6:  #73818f !default; // lighten($gray-base, 40%);
$gray-7:  #5c6873 !default; // lighten($gray-base, 30%);
$gray-8:  #2f353a !default; // lighten($gray-base, 10%);
$gray-9:  #23282c !default; // lighten($gray-base, 5%);
$dark-1:  #111 !default;
$dark-2:  #222 !default;
$dark-3:  #333 !default;
$black:   #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "1": $gray-1,
    "2": $gray-2,
    "3": $gray-3,
    "4": $gray-4,
    "5": $gray-5,
    "6": $gray-6,
    "7": $gray-7,
    "8": $gray-8,
    "9": $gray-9
  ),
  $grays
);

$blue:       #0077ff !default;
$indigo:     #5903e2 !default;
$purple:     #b700ff !default;
$pink:       #ff0077 !default;
$red:        #ff0000 !default;
$orange:     #f87000 !default;
$yellow:     #ffc107 !default;
$green:      #32af01 !default;
$teal:       #06f0dc !default;
$cyan:       #0f95aa !default;
$light-blue: #4eb8ff !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "light-blue": $light-blue,
    "white":      $white,
    "gray":       $gray-6,
    "gray-dark":  $gray-8
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-3 !default;
$success:       $green !default;
$info:          $light-blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-1 !default;
$dark:          $gray-8 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Brand Colors

$facebook:       #3b5998 !default;
$twitter:        #00aced !default;
$linkedin:       #4875b4 !default;
$google-plus:    #d34836 !default;
$flickr:         #ff0084 !default;
$tumblr:         #32506d !default;
$xing:           #026466 !default;
$github:         #4183c4 !default;
$html5:          #e34f26 !default;
$openid:         #f78c40 !default;
$stack-overflow: #fe7a15 !default;
$youtube:        #f00000 !default;
$css3:           #0170ba !default;
$dribbble:       #ea4c89 !default;
$google-plus:    #bb4b39 !default;
$instagram:      #517fa4 !default;
$pinterest:      #cb2027 !default;
$vk:             #45668e !default;
$yahoo:          #400191 !default;
$behance:        #1769ff !default;
$dropbox:        #007ee5 !default;
$reddit:         #ff4500 !default;
$spotify:        #7ab800 !default;
$vine:           #00bf8f !default;
$foursquare:     #1073af !default;
$vimeo:          #aad450 !default;

$brands-colors: () !default;
$brands-colors: map-merge((
  "facebook":       $facebook,
  "twitter":        $twitter,
  "linkedin":       $linkedin,
  "google-plus":    $google-plus,
  "flickr":         $flickr,
  "tumblr":         $tumblr,
  "xing":           $xing,
  "github":         $github,
  "html5":          $html5,
  "openid":         $openid,
  "stack-overflow": $stack-overflow,
  "youtube":        $youtube,
  "css3":           $css3,
  "dribbble":       $dribbble,
  "instagram":      $instagram,
  "pinterest":      $pinterest,
  "vk":             $vk,
  "yahoo":          $yahoo,
  "behance":        $behance,
  "dropbox":        $dropbox,
  "reddit":         $reddit,
  "spotify":        $spotify,
  "vine":           $vine,
  "foursquare":     $foursquare,
  "vimeo":          $vimeo
), $brands-colors);

$themes: (
  'default': (
    'text': #161616,
    'button': #ffffff,
    'background': #548efa
  ),
  'night': (
    'text': #161616,
    'button': #17325a,
    'background': #303650
  )
);

@function themes($key: 'primary', $variant: 'base') {
  $map: map-get($themes, $key);
  @return map-get($map, $variant);
}



$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$text-settings: (
  'xs': (
    font-size: .75rem, // 12px
    line-height: $base-line-height
  ),
  'sm': (
    font-size: .875rem, // 14px
    line-height: $base-line-height
  ),
  'base': (
    font-size: 1rem, // 16px
    line-height: $base-line-height
  ),
  'md': (
    font-size: 1.125rem, // 18px
    line-height: $base-line-height * 2
  ),
  'lg': (
    font-size: 1.25rem, // 20px
    line-height: $base-line-height * 2
  ),
  'xl': (
    font-size: 1.5rem, // 24px
    line-height: $base-line-height * 2
  )
);

@function text-scale($level: 'xs') {
  @return map-get(map-get($text-settings, $level), 'font-size');
}

@function line-height($level: 'xs') {
  @return map-get(map-get($text-settings, $level), 'line-height');
}

@mixin text-setup($level: 'xs') {
  font-size: text-scale($level);
  line-height: line-height($level);
  font-family: 'Arial', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}