.mobile footer {
    box-shadow: none!important;
    .q-carousel-inner .q-card-media img {
        height:90px!important;
    }
    .items-center.relative-position.q-toolbar-normal {
        height: 85px;
        position: relative;
        background: none!important;
        .q-tabs-head.row.q-tabs-align-left.bg-primary {
            background: none!important;
            .q-tabs-scroller.row.no-wrap {
                padding: 0!important;
                height: 85px;
                border: none;
                background: none!important;
                .menu-item {
                    margin: 35px 0 0;
                    padding: 5px;
                }
                .menu-item.center {
                    margin: 0px;
                    border-radius: 50%;
                    background: #275fd1;
                    .q-tab-icon-parent {
                        top: 9px;
                        left: -12px;
                        i {
                            font-size: 27px;
                            padding: 10px;
                            border-radius: 10px;
                            background: #223491;
                        }
                    }
                    .q-tab-label-parent {
                        top: 35px;
                    }
                }
            }
        }
        .mobile.bottom-menu {
            position: absolute;
            height: 85px;
            width:100%;
            z-index: 999;
        }
        .mobile-menu-background {
            position: absolute;
            background: #2f62c6;
            height: 55px;
            z-index: 9;
            width: 100%;
            bottom: 0;
            border-top: .5px solid #275fd1;
            border-top: .5px solid #2f62c6;
        }
    }    
}