@import 'config';
@import '_desktop';
@import '_mobile';

@mixin theme($width, $height, $background) {
    width: $width;
    height: $height;
    background-color: $background;
}

html {
    .modal-content {
        z-index:99999;
    }
    body.mobile {
        .row > .col-9 {
            font-size: 12px!important;
            color: #565656!important;
        }
        .row .title {
            width: 100%;
            font-weight: 600;
            margin:0!important;
            color: #363636!important;
            .col-9 {
                padding:0 0 10px 20px!important;
            }
            .col-3 {
                padding:0 0 10px 0!important;
            }
        }
        a {
            font-size: 12px !important;
            color: #3f536d !important;
            line-height: 150%;
            text-align: justify;
        }
        footer a {
            color: #f2f8ff!important;
        }
        .q-tab-label {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: .7rem;
            text-shadow: 0 1px 1px #123;
        }
        .float-right {
            text-align: right;
        }
        .list-mobile {
            margin: -22px 0 20px;
            padding: 10px 0 0 0;
            border: none !important;
            .all-list {
                padding: 13px 3px 0 0 !important;
            }
        }
        .card-mobile-listing {
            padding: 0;
        }
        @include text-setup();
        .q-layout-page-container {
            width: 100%;
            height: 100%;

            .q-layout-page.card-mobile-listing {
                width: 100%;
                height: 100%;
                margin: 0!important;
            }
        }
        &.default {
            .q-btn-inner {
                text-shadow: 0 1px 1px #111;
            }
            &.login {
                background: #0a4b75;
                .q-card {
                    border-radius: 6px;
                }
            }
            &.page {

            }
            &.list {

            }
            &.detail {

            }
            &.profile {

            }
        }
        .q-layout-header {
            height: 86px;
            background: #eff5ff;
            box-shadow: none;
            margin: 0 0 20px;
        }
        .list-mobile {
            margin: 0;
            padding: 10px 0 5px 0;
            border: none !important;
            .q-card-media {
                height: 168px;
            }
            .q-card-container {
                padding: 7px 9px 5px 9px !important;
            }
            a {
                font-size: 12px !important;
                text-align: justify;
                color: #1b2e3b!important;
                font-weight: 500!important;
            }
        }
        .logo-frame {
            width: 100%;
            padding: 0;
            margin: 0;
            /*background: url(../public/logo/cmc_si_logo.png) no-repeat center 6px #0979f8 !important;*/
            background-size: 63px 36px !important;
            border-bottom: 1px solid #194681;
            box-shadow: 0 1px 1px 0 #555;
            height: 107px;
            min-height: 36px;
            border-radius: 0 0 30% 30%;
            .title {
                text-transform: uppercase;
                font-weight: 600;
                font-size: .86rem;
                padding: 6px 0 3px 56px;
                margin: 0;
                text-align: left;
                text-shadow: 0 1px 1px #111;
            }
            .scene-title {
                position: absolute;
                top: 16px;
                left: 20px;
                text-shadow: 0 1px 1px #111;
                text-transform: uppercase;
                font-weight: bold;
            }
            .welcome-label {
                position: absolute;
                right: 20px;
                top: 15px;
                text-shadow: 0 1px 1px #111;
            }
        }
        .top-content {
            width: 92%;
            position: absolute;
            left: 4%;
            top: 50px;
            height: 96px;
            background: #fff;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 1px 0 #333;
            box-shadow: 0 1px 1px 0 #333;
            .q-btn .q-btn-inner {
                margin: 0;
                padding: 0;
            }
            .title-wrapper {
                width: 99%;
                overflow: hidden;
                border-bottom: 1px solid #acb8c3;
                margin: 0 auto;
                padding: 10px;
                font-weight: 100;
                color: #475e7b;
                .float-left {
                    font-weight: bold;
                }
                .point .q-btn {
                    padding: 1px 5px 0;
                }
            }
            .user-toolbar {
                text-align: center;
                width: 100%;
                position: absolute;
                bottom: 10px;
                .btn-item {
                    padding: 6px 10px!important;
                    font-size: 12px!important;
                    margin: 0 8px;
                    i {
                        font-size: 13px!important;
                        margin: 0 6px 0 0!important;
                    }
                }
            }
        }
        .slide-show {
            margin: 0 auto;
            width: 93%;
            height: 86px;
            .q-carousel-slide {
                width: 100%;
                padding: 0;
                .q-ma-sm {
                    width: 100%;
                    margin: 0;
                    display: inline;
                    .left {
                        float: left;
                        width: 47%;
                        min-width: 47%;
                        margin: 0 2% 0 1%;
                        padding: 0 0 7px 0;
                        border: .5px solid #7d8297;
                        box-shadow: 0 1px 2px 0px #888;
                        .q-card-title.q-card-subtitle.relative-position {
                            font-size: 12px;
                            padding: 1px 0px 0 10px;
                            height: 25px;
                        }
                    }
                    .right {
                        float:right;
                        width: 47%;
                        min-width: 47%;
                        margin: 0 1% 0 2%;
                        padding: 0 0 7px 0;
                        border: .5px solid #7d8297;
                        box-shadow: 0 1px 2px 0px #888;
                        .q-card-title.q-card-subtitle.relative-position {
                            font-size: 12px;
                            padding: 1px 0px 0 10px;
                            height: 25px;
                        }
                    }
                    .q-card-media {
                        height: 83px;
                        img {
                            height: 83px;
                        }
                    }
                    .q-card-container {
                        opacity: .6;
                        height: 25px;
                        overflow: hidden;
                        a {
                            color: #1b2e3b !important;
                        }
                    }
                }
            }
        }
        .q-layout-page.justify-center.layout-padding {
            width: 100%;
        }
        footer .items-center.relative-position.q-toolbar-normal {
            margin: 0;
        }
        .bottom-menu {
            .q-tabs-scroller {
                height: 50px;
                background: #234b80;
                border-top: 1px solid #111c28;
                box-shadow: -1px 0 0 0 #f6faff;
                a.q-tab {
                    display: block;
                    .q-tab-icon-parent {
                        width: 100%;
                        i {
                            position: absolute;
                            left: calc(50% - 10px);
                            top: -3px;
                            font-size: 20px;
                        }
                    }
                    .q-tab-label-parent .q-tab-label {
                        position: absolute !important;
                        width: 100%;
                        text-align: center;
                        font-size: 10px;
                        top: 15px;
                    }
                }
                a.active .q-tab-icon-parent i, a.active .q-tab-label-parent .q-tab-label {
                    text-shadow: 0 1px 1px #111;
                }
            }
        }
        .vertical-content {
            .detail {
                padding: 15px 0 0px 4px;
                .inline-block {
                    width: 30% !important;
                    min-width: 31% !important;
                    margin: 0 1% 3px 1%;
                    height: 100px;
                    .q-card-media {
                        height: 69px;
                        img {
                            height: 69px;
                        }
                    }
                    .q-card-title a {
                        height: 23px;
                        overflow: hidden;
                        line-height: 190%;
                        display: block;
                        font-size: 11px!important;
                    }
                }
            }
        }
        .title-list {
            width: 70%!important;
            float: left;
            padding: 12px 0 10px 33px;
        }
        .all-list {
            float: right;
            width: 26%!important;
        }
        .slide-item-img-frame {
            height: 168px;
            a img {
                width: 100%!important;
            }
        }
    }
}
input, select, textarea {
    color: #555!important;
}
input, a, button {
    outline: none!important;
}
.logo-image {
    width: 72px;
    height: 72px;
    position: absolute;
    z-index: 999;
    left: calc(50% - 36px);
    background-color: #fff!important;
    background-size: 69px 69px!important;
    box-shadow: 0 2px 2px -1px #777;
    border-radius: 3px;
    top: 7px;
}
.q-card-media.brand.logo img {
    width: 90%;
    height: auto!important;
}
.user-toolbar a, .user-toolbar a div, .user-toolbar a i {
    color: #fff;
}
.card h6 {
    text-transform: uppercase;
    font-size: .86rem;
    line-height: 150%;
}
.navbar-transparent {
    background-color: #152f468f!important;
}
.navbar-transparent.styleClass {
    background-color: #2d4b65!important;
}
.navbar-transparent, .navbar-transparent span, .navbar-transparent a, ul.navbar-nav li.nav-item a span {
    text-shadow: 0 1px 1px #111;
    font-size: 0.9rem;
    font-weight: bold;
}
ul.navbar-nav li.nav-item a {
    padding: 0!important
}
ul.navbar-nav li.nav-item {
    padding: 10px 20px;
    margin: 0 10px 0 0;
}
main.q-layout-page.items-start.justify-center {
    padding: 0;
    margin: 0;
}
.q-carousel-slide .q-ma-sm {
    padding: 0 0 1px 0;
}
.carousel.double-items {
    height: 160px !important;
    margin: 65px 0 20px 0!important;
}
.carousel.triple-items {
    height: 150px!important;
}
.carousel.triple-items .q-card-media {
    height: 56px!important;
}
.carousel.triple-items .q-card-media img {
    height: 56px!important;
    box-shadow: 0 2px 1px -1px #666!important;
}
.carousel.triple-items .carousel-3 {
    height: 96px!important;
    border: none!important;
    box-shadow: none!important;
    width: 32%!important;
    margin: 0 .5% 0 .5%!important;
    position: relative!important;
}
.carousel.triple-items .carousel3-item img {
    border: 1px solid #999;
    border-radius: 6px;
}
.carousel-3 .q-ma-itm.inline-block {
    width: 100%;
    min-width: 100%;
    padding: 5px 3px!important;
}
.news-listing .news-item {
    width: 100%;
    margin: 0 9px 0 0;
}
.news-listing .news-item .news-item-title {

}
.carousel3-item img {
    border: .5px solid #374253;
}
.carousel-3 .q-ma-itm .inline-blonews-item img {
    height: auto!important;
}
.carousel-3 .q-card-subtitle {
    text-shadow: 0 1px 1px #ccc;
    color: #777;
    margin: 8px 0 0 0;
}
.news-listing .slide-item-img-frame img {
    width: 100%;
    height: auto!important;
}
.news-listing .news-item-title {
    text-transform: uppercase;
    padding: 10px 0 0 0;
    font-size: .9rem;
    font-weight: 500;
    text-shadow: 0 1px 1px #ababab;
}
.news-listing {
    padding: 0 8px 0 0;
}
.news-listing .news-item .q-card {
}
.news-item, .news-item .q-card, .news-item a {
    width: 100%!important;
    display: block;
}
main header .q-toolbar.items-center.q-toolbar-normal {
    margin: 0;
}
main.q-layout-page.row.justify-center.layout-padding {
    margin: 0 10px 0 0;
}
main header .q-toolbar.items-center.q-toolbar-normal div {
    font-weight: 500;
    font-size:1rem;
    text-shadow: 0 1px 1px #333;
}
.article-detail img {
    border-style: none;
    max-width: 100% !important;
    max-height: 100% !important;
}
.q-tabs-head .q-tabs-scroller .q-tab-only-label {
    background: #0f4679 !important;
    border: .5px solid #dae8ff;
}
.dropdown-menu a {
    color: #555;
    text-shadow:none;
}