<template>
    <q-layout id="q-app" view="lHh Lpr lFf" color="primary"
              :glossy="$q.theme === 'mat'"
              :inverted="$q.theme === 'ios'">
        <q-modal v-model="modal"
                 @show="show"
                 @hide="hide"
                 class="modal frame layout">
            <q-modal-layout>
                <q-toolbar slot="header">
                    <q-btn
                            flat
                            round
                            dense
                            v-close-overlay
                            icon="keyboard_arrow_left"
                    />
                    <q-toolbar-title>
                        {{title}}
                    </q-toolbar-title>
                </q-toolbar>
                <div class="layout-padding">
                    <div v-html="content"/>
                </div>
                <q-toolbar slot="footer">
                    <q-toolbar-title>
                        <span v-html="footer"/>
                        <q-btn
                                color="primary"
                                v-close-overlay
                                label="Close"
                                @click="close"
                        />
                        <q-btn
                                color="scondary"
                                label="OK"
                                @click="confirm"
                        />
                    </q-toolbar-title>
                </q-toolbar>
            </q-modal-layout>
        </q-modal>
        <q-page-container>
            <div v-show="top !== ''" :class="top_blog" class="top blog">
                <div v-html="top_content"/>
            </div>
            <router-view></router-view>
            <div v-show="bottom !== ''" :class="bottom_blog" class="bottom blog">
                <div v-html="bottom_content"/>
            </div>
        </q-page-container>

    </q-layout>
</template>

<script>
    import u from './lib/utilities/utility'
    import db from './lib/utilities/database'
    // import Authentication from './lib/utilities/authentication'
    import {openURL} from 'quasar'
    import mixing from "./lib/utilities/mixin.js";

    const io = require('socket.io-client');
    import {Notify} from 'quasar'
    var temp = {
        calling: {}
    };
    export default {
        name: 'LayoutDefault',
        mixins: [mixing],
        props: ['opened'],
        data() {
            return {
                top: false,
                top_blog: '',
                top_content: '',
                bottom: false,
                bottom_blog: '',
                bottom_content: '',
                modal: false,
                title: '',
                footer: '',
                content: '',
                notification: '',
                show: Function,
                hide: Function,
                close: Function,
                confirm: Function,
                notify_id: 0
            }
        },
        mounted() {
            const color = this.$ls.get("theme") || 'default'
            if (this.$ls.get("theme") == undefined) {
                this.$i18n.theme = color
                this.$ls.set("theme", this.$i18n.theme)
            }
            document.body.classList.add(color)
            if (this.$ls.get("langugage") == undefined) {
                this.$i18n.locale = 'vn';
                this.$ls.set("langugage", this.$i18n.locale)
            }
            this.$nextTick(() => {
                document.body.classList.add(u.is.mobile())
            });


        },
        created() {

        },
        methods: {
            openURL,
            openLogin: function () {
                this.openLoginModal = !this.openLoginModal;
                this.$eventHub.$emit('opened', this.openLoginModal);
            },
        }
    }
</script>

<style lang="css">
    @import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons';
    @import 'https://use.fontawesome.com/releases/v5.0.13/css/all.css';
    @import 'https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css';
    @import 'https://cdn.jsdelivr.net/npm/@mdi/font@^3.0.0/css/materialdesignicons.min.css';
    @import 'https://cdn.jsdelivr.net/npm/animate.css@^3.5.2/animate.min.css';
    @import 'https://cdn.jsdelivr.net/npm/quasar@1.0.0-beta.9/dist/quasar.min.css';
    @import './styles/quasar-play.android.css';
</style>
<style lang="scss">
    @import './styles/style.scss';
</style>
