<template>
    <div>
        <b-carousel
                id="carousel-1"
                v-model="slide"
                :interval="4000"
                controls
                indicators
                background="#ababab"
                img-width="1024"
                img-height="400"
                style="text-shadow: 1px 1px 2px #333;"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
        >
            <!-- Text slides with image -->
            <b-carousel-slide
                    img-src="http://183.91.11.56:3005/images/slide/Bamboo_Slide_1.jpg"
            ></b-carousel-slide>

            <!-- Slides with custom text -->
            <b-carousel-slide img-src="http://183.91.11.56:3005/images/slide/Bamboo_Slide_2.jpg">
            </b-carousel-slide>

            <!-- Slides with image only -->
            <b-carousel-slide img-src="http://183.91.11.56:3005/images/slide/Bamboo_Slide_3.jpg"></b-carousel-slide>

            <!-- Slides with img slot -->
            <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
            <b-carousel-slide img-blank img-alt="Blank image">
                <img
                        slot="img"
                        class="d-block img-fluid w-100"
                        width="1024"
                        height="400"
                        src="http://183.91.11.56:3005/images/slide/Bamboo_Slide_4.jpg"
                        alt="image slot"
                >
            </b-carousel-slide>
        </b-carousel>
    </div>
</template>

<script>
    import BCarousel from "bootstrap-vue/es/components/carousel/carousel";
    import BCarouselSlide from "bootstrap-vue/es/components/carousel/carousel-slide";

    export default {
        components: {
            BCarousel,
            BCarouselSlide
        },
        data() {
            return {
                slide: 0,
                sliding: null
            }
        },
        methods: {
            onSlideStart() {
                this.sliding = true
            },
            onSlideEnd() {
                this.sliding = false
            }
        }
    }
</script>
