<template>
    <section class="section section-lg pt-lg-0">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <h4>NEWS new</h4>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-4" v-for="(news,index) in list_news" :key="index">
                            <card class="border-0" hover shadow body-classes="py-5">
                                <b-card-img :src="news.image_src">
                                </b-card-img>
                                <router-link :to="{ name: 'article-detail-web', params: { id: news.id }}">
                                    <h6 style="height: 56px;overflow: hidden;" class="text-primary mt-4">{{news.subject}}</h6>
                                </router-link>
                                <p style="height: 120px;overflow: hidden;" class="description mt-3">{{news.review}}</p>
                            </card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import BCardImg from "bootstrap-vue/es/components/card/card-img";
    import u from './../../lib/utilities/utility'
    import _ from 'lodash'
    export default {
        components: {
            BCardImg
        },
        data(){
            return {
                list_news: []
            }
        },
        mounted() {
            let params = '?_start=0&_limit=3&_sort=id:DESC&type=0';
            u.g('api/article/find' + params).then(res => {
                if(!_.isEmpty(res.data) && _.isArray(res.data)){
                    res.data.forEach(x => {
                        x.image_src = u.getImage(x.image,'mediumLink');
                        x.subject = u.subText(x.subject,90)
                        x.review = u.subText(x.review,300)
                    });
                    this.list_news = res.data
                }
            }).catch(err => {
                console.log(err);
            });
        }
    };
</script>
<style>
</style>
