<template>
    <section class="section section-lg pt-lg-0">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <h4>VOUCHER new</h4>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-4" v-for="(voucher,index) in list_voucher" :key="index">
                            <card class="border-0" hover shadow body-classes="py-5">
                                <b-card-img :src="voucher.image_src">
                                </b-card-img>
                                <router-link :to="{ name: 'voucher-detail-web', params: { id: voucher.id }}">
                                    <h6 style="height: 56px;overflow: hidden;" class="text-primary mt-4">{{voucher.title}}</h6>
                                </router-link>
                                <div v-if="voucher.Program">
                                    <badge type="primary" rounded>start: {{voucher.Program.start_date}}</badge>
                                    <badge type="warning" rounded>end: {{voucher.Program.end_date}}</badge>
                                </div>
                                <router-link :to="{ name: 'voucher-detail-web', params: { id: voucher.id }}">
                                    <base-button tag="a" href="javascript:;" type="primary" class="mt-4">
                                        Use.
                                    </base-button>
                                </router-link>
                            </card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import BCardImg from "bootstrap-vue/es/components/card/card-img";
    import u from './../../lib/utilities/utility'
    import _ from 'lodash'
    export default {
        components: {
            BCardImg
        },
        data(){
            return {
                list_voucher: []
            }
        },
        mounted() {
            let params = '?_start=0&_limit=3&_sort=id:DESC';
            u.g('api/offer/list' + params).then(res => {
                if(!_.isEmpty(res.data) && _.isArray(res.data)){
                    res.data.forEach(x => {
                        x.image_src = u.getImage(x.image,'mediumLink');
                        x.title = u.subText(x.title)
                    });
                   this.list_voucher = res.data
                }
            })
        }
    };
</script>
<style>
</style>
