<template>
    <div>
        <q-parallax :height="400" src="http://183.91.11.56:3005/images/slide/Bamboo_Slide_7.jpg">
            <h4>Bamboo Airline</h4>
        </q-parallax>
    </div>
</template>

<script>
    import QParallax from "quasar-framework/src/components/parallax/QParallax";
    export default {
        name: "banner-article",
        components: {QParallax}
    }
</script>
