<template>
    <header class="header-global" v-scroll="scrollTop">
    </header>
</template>
<script>
    import Authentication from '../../lib/utilities/authentication'
    import u from '../../lib/utilities/utility'

    export default {
        components: {

        },
        data() {
            return {
                styleClass: '',
                user_info: null,
                brand: {}
            }
        },
        methods: {
            scrollTop(){
                if(window.scrollY >= 100){
                    this.styleClass = 'styleClass'
                }else {
                    this.styleClass = ''
                }
            },
            logout() {
                Authentication.logout(this);
                window.location.reload();
            },
        },
        mounted() {
            this.user_info = Authentication.getUserInfo();
            this.brand = Authentication.getBrandInfo();
            this.brand.logo_src = u.getImage(this.brand.logo,'mediumLink')
        }
    };
</script>
<style scoped>
    .navbar-transparent{
        position: fixed !important;
    }
    .styleClass{
        background-color: black;
    }
    .nav-link-inner--text{
        color: white;
    }
</style>
